img {
    width: 100px;
}

* {
    font-family: Arial, Helvetica, sans-serif;
    color: #fff;
}

body {
    background-color: rgb(50, 20, 220);
}

table {
    table-layout: fixed;
    width: 100%;
    border-collapse: separate;
    border: 3px solid #fff;
    text-align: center;
}

th, td {
    padding: 20px;
}
